/* 575 boilerplate style.css */
.state-boundary {
 fill: #ddd;
 stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.map {
position: absolute;
    top: 5%;
    left: 5%;
    margin: 5% 0 0 1%;
}

.map {
  padding-top: 25px;
}

.jumbotron {
  text-align: center;
  /*margin-top: 10px;*/
  /*margin-top: 12px;*/
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 10px;
  font-family: Chevalier;

}

@font-face {
    font-family: Chevalier;
    src: url(Chevalier.ttf);

}

div {
    font-family: myFirstFont;
}

.Classification1{
    position: relative;
    bottom: 40px;}

#sideColumn {
  position: absolute;
  margin-left: -8%;

}

#infoPanel {
  float: right;
  margin-right: -4%;
}

.Classification1 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 1.3em;
}
.dropdownLeft {
  padding: 5px;
  position: relative;
  top: 95px;
  left: -15px;
  margin-bottom: 6px;
  color: purple;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.dropdownRight {
  padding: 5px;
  position: relative;
  top: 95px;
  left: -15px;
  margin-top: 6px;
  color: #FFA30D;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
}

.axis path,
.axis line {
 position: absolute;
  left:20%;
    fill: none;
    stroke: gray;
    stroke-width: 2px;
    shape-rendering: crispEdges;
}

.axis {
    position: relative;
    top: 450px;
    height: 50px;
    width:1000px;
}

.axis text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;

}


.yearExpressedText {
    float: left;
    position:relative;
    top:30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.eventExpressedText
{/*width:100px;*/
    float: left;
    position:relative;
    top:30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;

}

.stepForward

{position:relative;
    top:20px;
  height:35px;
  width:35px;
margin-left: 10px}

.stepBackward
{position:relative;
    top:20px;
  height:35px;
  width:35px;}

.img-stepForward
{height:20px;
  width:20px;}
.img-stepBackward
{height:20px;
  width:20px;}
  .trump
{height:40px;
  width:40px;
margin-right: 10px;
margin-top: -10px;
background-color: red;}

.hilary
{height:40px;
  width:40px;
margin-right: 10px;
margin-top: -10px;
background-color: blue;}

.others{
    height:40px;
    width:40px;
    margin-right: 10px;
    margin-top: -10px;
    background-color: gray;}

.infolabel {
    position: absolute;
    min-height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: #000;
    border: solid thin #fff;
    padding: 5px 10px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 1em;
}
