/* 575 boilerplate style.css */
.state-boundary {
 fill: #ddd;
 stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.map {
position: absolute;
    top: 5%;
    left: 5%;
    margin: 5% 0 0 1%;
}

.pageTitle {
    position: absolute;
    top: 1%;
    right: 25%;
    font-size: 50px;
    font-weight: bold;
    font-family: Garamond;
}

.map {
  padding-top: 25px;
}

.jumbotron {
  text-align: center;
  /*margin-top: 10px;*/
  /*margin-top: 12px;*/
  padding: 5px;
  font-family: Garamond;
}

h1 {
  margin: 10px;
}





#sideColumn {
  position: absolute;
  margin-left: -8%;

}

#infoPanel {
  float: right;
  margin-right: -4%;
}


.dropdownLeft {
  padding: 2px;
  position: relative;
  top: 100px;
  margin-bottom: 6px;
  color: purple;
}

.dropdownRight {
  padding: 2px;
  position: relative;
  top: 95px;
  margin-top: 6px;
  color: #FFA30D;
}

.leftsplit {
  stroke: black;
  stroke-width: .3;
}

.rightsplit {
  stroke: black;
  stroke-width: .3;
}

.axis {
    background-color: #000;
}

/*.timeline {
 
    fill: none;
    stroke: gray;
    shape-rendering: crispEdges;
}*/

.timeline path,
.timeline line {
    fill: black;
   
    stroke: red;
    stroke-width:3px;

   
}

#sequenceContainer
{stroke: black;}

.yearExpressedText {
    float: left; 
    padding-right: 115px;
    font-family: garamond;
}

.eventExpressedText
{/*width:100px;*/
    float: left; 
    position:relative;
    top:10%;
    font-family: garamond;
    font-size:20px;
    
}

.stepForward

{height:35px;
  width:35px;
margin-left: 10px}

.stepBackward
{height:35px;
  width:35px;}

.img-stepForward
{height:20px;
  width:20px;}
.img-stepBackward
{height:20px;
  width:20px;}
  .trump
{height:40px;
  width:40px;
margin-right: 10px;
margin-top: -10px;
background-color: red;}

.hilary
{height:40px;
  width:40px;
margin-right: 10px;
margin-top: -10px;
background-color: blue;}

.others
{height:40px;
  width:40px;
margin-right: 10px;
margin-top: -10px;
background-color: gray;}

